In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns

Data = pd.read_csv('data/Penguins.csv', delimiter=';')

In [3]:
Data.isna().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [6]:
Data[Data['bill_length_mm'].isna()]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009

In [7]:
Data.drop('year', axis=1, inplace=True )
Data.dropna(subset=["sex"], axis=0, inplace=True)

In [9]:
Data[Data['island']== 'Torgersen']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,male
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,female
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,female
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,female
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male
68,Adelie,Torgersen,35.9,16.6,190.0,3050.0,female
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,male
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,female
71,Adelie,Torgersen,39.7,18.4,190.0,3900.0,male
72,Adelie,Torgersen,39.6,17.2,196.0,3550.0,female
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,male
74,Adelie,Torgersen,35.5,17.5,190.0,3700.0,female
75,Adelie,Torgersen,42.8,18.5,195.0,4250.0,male
76,Adelie,Torgersen,40.9,16.8,191.0,3700.0,female
77,Adelie,Torgersen,37.2,19.4,184.0,3900.0,male
78,Adelie,Torgersen,36.2,16.1,187.0,3550.0,female
79,Adelie,Torgersen,42.1,19.1,195.0,4000.0,male
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,female
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,male
82,Adelie,Torgersen,36.7,18.8,187.0,3800.0,female
83,Adelie,Torgersen,35.1,19.4,193.0,4200.0,male
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,female
117,Adelie,Torgersen,37.3,20.5,199.0,3775.0,male
118,Adelie,Torgersen,35.7,17.0,189.0,3350.0,female
119,Adelie,Torgersen,41.1,18.6,189.0,3325.0,male
120,Adelie,Torgersen,36.2,17.2,187.0,3150.0,female
121,Adelie,Torgersen,37.7,19.8,198.0,3500.0,male
122,Adelie,Torgersen,40.2,17.0,176.0,3450.0,female
123,Adelie,Torgersen,41.4,18.5,202.0,3875.0,male
124,Adelie,Torgersen,35.2,15.9,186.0,3050.0,female
125,Adelie,Torgersen,40.6,19.0,199.0,4000.0,male
126,Adelie,Torgersen,38.8,17.6,191.0,3275.0,female
127,Adelie,Torgersen,41.5,18.3,195.0,4300.0,male
128,Adelie,Torgersen,39.0,17.1,191.0,3050.0,female
129,Adelie,Torgersen,44.1,18.0,210.0,4000.0,male
130,Adelie,Torgersen,38.5,17.9,190.0,3325.0,female
131,Adelie,Torgersen,43.1,19.2,197.0,3500.0,male

In [10]:
Data[Data['species']== 'Adelie']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male
...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male

In [12]:
Data['island'].value_counts()

island
Biscoe       163
Dream        123
Torgersen     47
Name: count, dtype: int64

In [14]:
Data.groupby(by='island')['species'].value_counts()

island     species
Biscoe     Gentoo       119
           Adelie        44
Dream      Chinstrap     68
           Adelie        55
Torgersen  Adelie        47
Name: count, dtype: int64

In [16]:
Data = Data[Data['island'] != 'Torgersen']
Data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
20,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female
21,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male
22,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female
23,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male
24,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male
...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female

island
Biscoe    163
Dream     123
Name: count, dtype: int64